if SHIELD_HOPE24_LEFT

# Name must be less than 16 characters long!
config ZMK_HOPE24
    default "hope24"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_HOPE24_LEFT || SHIELD_HOPE24_RIGHT

config ZMK_SPLIT
    default y

endif
